*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

i.flecha{
    position: absolute;
    top: 80px;
    left: 20px;
    font-size: 25px;
    color: blue;
}
 
.contenedor{
    height: 100%;
    margin-top: 40px;
    /* margin-bottom: 16px; */
}

.temario ul, .costo ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.turnos{
    margin-top: 20px;
}

li{
    padding: 4px 0;
    display: flex;
    align-items: center;
}

li i {
    font-size: 20px;
    color: blue;
    padding: 0 4px;
}

li p{
    margin: 0;
}

.imagen{
    margin: 0;
}

.imagenProfesor{
    width: 90%;
    height: 90%;
}

figcaption{
    margin-top: 20px;
    font-weight: 700;

}

figcaption span{
    font-weight: 400;
}

.enlace{
    margin-top: 12px;
}

.pie{
    height: 20%;
    margin: 0;
    padding: 0;
}