.form{
    height: 70vh;
    margin-top: 36px;
    display: grid;
    place-items: center;
  }
  .botones button{
    margin-top: 20px;
  }

.navbar{
  height: 70px;
}

.pie{
  position: absolute;
  bottom: 10px;
}

.pie-texto{
  margin-top: 16px;
}