*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



h1{
    margin-bottom: 50px;
}

.fila{
    display: flex;
    align-items: center;
    margin: 50px 0;
}



.contenedor{
    margin: 48px 0;
}

.mapa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

.mapita{
    margin-top: 24px;
    margin-bottom: 12px;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactos{
    list-style: none;
    margin-top: 24px;
}

.contacto i {
    padding: 0 12px;
    color: blue;
}

.contacto span{
    font-size: 20px;
}

.redes-sociales-contenedor{
    margin: 50px 0;
}

.redes-sociales-contenedor h3{
    margin-bottom: 30px;
}

.redes-sociales-iconos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.redes-sociales-iconos a{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.redes-sociales-iconos a i{
    color: black;
    font-size: 3.0rem;
    transition: all 0.2 ease-in;
}

.redes-sociales-iconos a:hover{
    background-color: black;
    border: red solid 2px;
}

.redes-sociales-iconos a:hover i{
    color: white;
}

.navbar{
    height: 70px;
}


.pie-texto{
    margin-top: 16px;
}