<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/cursos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <section th:replace="./fragments/navbar"></section>

    <div class="container">
        <h2 th:text="${subt}" class="borde"></h2>

        <div class="card-container">
            <h2 th:text="${subtitulo}" class="espaciado"></h2>
            <div class="card" th:each="c:${cursos}">
                <div class="card-header bg-primary bg-gradient">
                    <h5 th:text="${c.nombre}" class=" text-white"></h5>
                    <!-- <i class="bi bi-cup-straw"></i> -->
                </div>
                <div class="card-body">
                  <span th:text="${c.descripcion}" class="card-text"></span>
                  <div>
                    <a href="#" th:href="@{login}" class="btn btn-primary">Inscribirse</a>
                    <a href="#" class="btn btn-secondary">Más Información</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer" th:replace="./fragments/footer"></section>
    <script src="/src/main/resources/static/js/bootstrap.js"></script>
</body>
</html>