<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURSOS</title>
    <link rel="stylesheet" th:href="@{/css/cursos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <section th:replace="./fragments/navbar"></section>

    <div class="container">
        <h2 class="borde">Los cursos de nuestra Institución</h2>

        <div class="card-container">
            <div class="card">
                <div class="card-header bg-primary bg-gradient">
                    <h5 class=" text-white">Macerados</h5>
                    <i class="bi bi-cup-straw"></i>
                </div>
                <div class="card-body">
                  <span class="card-text">Se mostrará bebidas elaboradas por maceración en frío son el café Cold Brew o algunos licores como el Pacharán o las Hierbas Ibicencas.</span>
                  <div>
                    <a href="#" class="btn btn-primary">Inscribirse</a>
                    <a href="#" class="btn btn-secondary">Más Información</a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary bg-gradient">
                    <h5 class=" text-white">Deshidratados</h5>
                    <i class="bi bi-cup-hot"></i>                
                </div>
                <div class="card-body">
                  <span class="card-text">Información básica de frutas que se pueden deshidratar para los cocktails como las naranjas, limones y limas, que nos darán mucho juego a la hora de decorar.</span>
                  <div>
                    <a href="#" class="btn btn-primary">Inscribirse</a>
                    <a href="#" class="btn btn-secondary">Más Información</a>
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary bg-gradient">
                    <h5 class=" text-white">Pisco</h5>
                    <i class="bi bi-cup"></i>
                </div>
                <div class="card-body">
                  <span class="card-text">Se le influirá conocimiento sobre bebidas y cocteles con pisco, conocer puntos fuertes y olores</span>
                  <div>
                    <a href="#" class="btn btn-primary">Inscribirse</a>
                    <a href="#" class="btn btn-secondary">Más Información</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <section class="footer" th:replace="./fragments/footer"></section>
    <script src="/src/main/resources/static/js/bootstrap.js"></script>
</body>
</html>