<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">TUS CURSOS</title>
    <link rel="stylesheet" th:href="@{/css/cursos.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <section th:replace="./fragments/navbarAlum"></section>
    <h1 th:text="${datosUsuario.nombre_usuario}"></h1>
    <!-- <h1 th:text="${nombreEstudiante}"></h1> -->
    <div class="container">
        <h2 class="borde" th:text="${subt2}"></h2>

        <div class="card-container">
            <div class="card" th:each="i:${tusCursos}">
                <div class="card-header bg-dark bg-gradient">
                    <h5 class=" text-white" th:text="${i.nombre}"></h5>
                    <i class="bi bi-cup-straw"></i>
                </div>
                <div class="card-body">
                  <span class="card-text" th:text="${i.descripcion}"></span>
                  <div>
                    <a href="#" class="btn btn-primary">Información</a>
                    <a href="#" class="btn btn-danger">Retirarse</a>
                  </div>
                </div>
            </div>
            <br>
            <h2 class="borde" th:text="${subt}"></h2>
            <div class="card-container">
                <div class="card" th:each="c:${cursos}">
                    <div class="card-header bg-success bg-gradient">
                        <h5 class=" text-white" th:text="${c.nombre}"></h5>
                        <i class="bi bi-cup-straw"></i>
                    </div>
                    <div class="card-body">
                      <span class="card-text" th:text="${c.descripcion}"></span>
                      <div>
                        <a href="#" class="btn btn-primary">Inscribirse</a>
                        <a href="#" class="btn btn-secondary">Más Información</a>
                      </div>
                    </div>
                </div>
        </div>
    </div>
    <section class="footer" th:replace="./fragments/footer"></section>
    <script src="/src/main/resources/static/js/bootstrap.js"></script>
</body>
</html>