<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/formAlumno.css}">
	<style>
		
		
	</style>
</head>
<body>
	<section th:replace="./fragments/navbar"></section>
	<!-- En el object se pasa la variable del método crear -->
	<div class="">
		<form th:action="@{/formAlumno}" th:object="${alumno}" method="post" enctype="multipart/form-data" class="form">
			<table>
				<tr>
					<td>Nombre</td>
					<td><input type="text" th:field="*{nombre}" class="form-control"/></td>
				</tr>
				<tr>
					<td>Apellido</td>
					<td><input type="text" th:field="*{apellido}" class="form-control"/></td>
				</tr>
				<tr>
					<td>DNI</td>
					<td><input type="text" th:field="*{dni}" class="form-control" maxlength="8"/></td>
				</tr>
				<tr>
					<td>Foto</td>
					<td><input type="file" name="file" id="" class="form-control form-control-sm" ></td>
				</tr>
				<tr>
					<td><input type="submit" th:value="${nom}" class="btn btn-primary"/></td>
				</tr>
				<tr>
					<td><a th:href="@{/listarAlumno}" class="btn btn-danger">Volver</a></td>
				</tr>
			</table>
			<td><input type="hidden" th:field="*{id}"/></td>
		</form>
	</div>

</body>
</html>
