<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
<body>
  <section th:replace="./fragments/navbar"></section>
  <main>
    <form th:action="@{/login}" method="post" class="form container">
      <img class="mb-4" th:src="@{/images/cocktail.png}" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" class="form-control" id="username" th:name="username" required>
      </div>
      <div class="mb-3">
        <label for="passw" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="passw" name="passw" th:name="passw" required>
      </div>
      <div class="mb-3 form-check">
        <label class="form-check-label"><input type="checkbox" class="form-check-input" id="recuerdame" value="Recuerdame">Recuérdame</label>
      </div>
      <div>
        <span>¿No tienes una cuenta?</span><a th:href="@{register}">Regístrate</a>
      </div>
      <div class="botones">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <button class="btn btn-secondary" type="reset">Limpiar</button>
      </div>
    </form>
  </main>

  <section th:replace="./fragments/footer"></section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>