<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/nosotros.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <section th:replace="./fragments/navbar  :: barra-superior"></section>
    
    <div class="container contenedor">
        <div class="row">
            <div class="mapa col-6">
                <h3 class="text-center">Ubíquenos</h3>

                <iframe class="mapita" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1548.5128930955584!2d-76.92973827690722!3d-12.042975007126143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6af46b718fd%3A0x3d7cc270985ce049!2sAv.%20Javier%20Prado%20Este%208795%2C%20Ate%2015494!5e0!3m2!1ses-419!2spe!4v1681664589905!5m2!1ses-419!2spe" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Nos encontramos en: Av. Javier prado Este 8795 15011 Lima, Peru</p>
            </div>   
            <div class="col-6 contacto">
                <h3>Contáctanos</h3>
                <ul class="contactos">
                    <li><i class="bi bi-telephone-fill"></i><span>Teléfono: 956-755-882 (Srta. Mary)</span></li>
                    <li><i class="bi bi-envelope-at-fill"></i></i><span>Correo: longdrink_winespirits@outlook.es</span> </li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="redes-sociales-contenedor">
        <h3 class="text-center">Nuestras Redes Sociales</h3>
        <div class="redes-sociales-iconos">
            <a class="" href="https://www.instagram.com/long_drink_bar_training/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="" href="https://www.tiktok.com/@longdrinkescueladebar" target="_blank"><i class="bi bi-tiktok"></i></a>
            <a class="" href="https://www.facebook.com/longdrinkbartraning/" target="_blank"><i class="bi bi-facebook"></i></a>
        </div>
    </div>

    <section th:replace="./fragments/footer :: contenedor-inferior"></section>
    <script src="/src/main/resources/static/js/bootstrap.js"></script>
</body>
</html>