<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{css/register.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form th:action="@{/register}" method="post" class="register">
          <img class="mb-4" th:src="@{/images/cocktail.svg}" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal">Registro de Usuario</h1>
            <!---Usuario(DNI), nombre, apellido, email, passw-->
            
          <div class="form-floating">
            <input type="text" class="form-control" th:id="nombre" th:placeholder="nombre" th:name="nombre">
            <label for="floatingInput">Nombre</label>
          </div>
          <div class="form-floating mt-2">
            <input type="text" class="form-control" th:id="apellido" th:placeholder="apellido" th:name="apellido">
            <label for="floatingInput">Apellidos</label>
          </div>
          <div class="form-floating mt-2">
            <input type="text" class="form-control" th:id="dni" th:placeholder="dni" th:name="dni">
            <label for="floatingInput">DNI</label>
          </div>
          <div class="form-floating mt-2">
            <input type="email" class="form-control" th:id="email" th:placeholder="email" th:name="email">
            <label for="floatingInput">E-Mail</label>
          </div>
          <div class="form-floating mt-2">
            <input type="password" class="form-control" th:id="passw" th:placeholder="passw" th:name="passw">
            <label for="floatingPassword">Contraseña</label>
          </div>
          
          <div class="mt-2">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Continuar</button>
            <input class="w-100 btn btn-lg btn btn-secondary mt-2" type="reset" value="Limpiar">
          </div>
        </form>
      </main>
    <script src="/src/main/resources/static/js/bootstrap.js"></script>
</body>
</html>