<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <section th:replace="./fragments/navbar"></section>
    <div class="container py-4">
        <div class="card bg-light">
            <div class="card-header" th:text="${titulo}"></div>
            <div class="card-body">
                <img th:if="${#strings.length(alumno.foto)>0}" class="img-thumbnail rounded float-left" style="max-width: 25%;"
                    th:src="@{'/uploads/'+${alumno.foto}}" th:alt="${alumno.foto}">
                <ul class="list-group">
                    <li class="list-group-item" th:text="${alumno.nombre}"></li>

                    <li class="list-group-item" th:text="${alumno.apellido}"></li>

                    <li class="list-group-item" th:text="${alumno.dni}"></li>
                </ul>
                <a th:href="@{/listarAlumno}" class="btn btn-danger">Volver</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>